.header{
  width: auto;
  height: auto;
  margin: 0 auto;
  background: orange;
}
.header h1{
  text-align: center;
  vertical-align:middle;
  color: black;
}
.header h1 img{
  width : 90px ;
  height: 92px;
}
.iris {
    background-image: url("/images/tree.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
#pos{
  position:relative;
}

#logo{
  width : 90px ;
  height: 92px;
}
#logo1{
  width : 90px ;
  height: 92px;
}
.imgsize{
  height: 1024px;
  width: 1024px;
}
.nav{
  height: auto;
  width: auto;
  background: green;
}
.nav ul{
  margin: 0;
  padding: 0;
}
.nav ul li{
  list-style: none;
  float: left;
  display: block;
  padding: 10px 65px;
  color:black;
}
.nav ul li a{
  text-decoration: none;
}
.nav ul li:hover{
  color:white;
}

#slider {
  width: 500px;
  height: 300px;
  overflow: hidden;
}
.slides{
  display: block;
  width: 3000px;
  height: 300px;
  margin: 0;
  padding: 0;

}
.slide{
  float: left;
  list-style: none;
  width: 500px;
  height: 300px;

}
#slider .slide img{
  width: 500px;
  height: 300px;
}
.bord{
  height:100px;
  width:auto;
  background-color: blue;
}
